.Game-container {
  display: flex;
  margin-left: 25px;
  margin-top: 40px;
  /* border: 1px red solid; */
}

#images {
  width: 180px;
  height: 230px;
  transition: 0.7s;
  border-radius: 5px;
}

#images:hover {
  cursor: pointer;
  width: 200px;
  height: 250px;
  transition: 0.7s;
}

.Info-container {
  margin-right: 40px;
  /* border: 1px red solid; */
  transition: 0.7s;
  transform: translateX(0px);
  transition: 1.5s;
}

.Info-Slider {
  margin-right: 40px;
  /* border: 1px red solid; */
  transition: 0.7s;
  transform: translateX(-1300px);
  transition: 1.5s;
}

#Prev {
  position: absolute;
  bottom: -55px;
  left: -10px;
}

#Next {
  position: absolute;
  bottom: -55px;
  right: -13px;
}

#DisabledNext,
#DisabledPrev {
  display: none;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title h5 {
  margin-top: -10px;
}

#Heading {
  margin-left: 30px;
  margin-bottom: -20px;
}
